/* CSS files add styling rules to your content */
* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  font-size: 16px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

svg {
  display: block;
  margin: 0;
}

#container {
  display:flex;
  justify-content:center;
}

.filter-box {
  margin-bottom: 10px;
}

#price {
  display: flex;
  justify-content: center;
  margin: 40px 0 50px;
}

#slider {
  width: 50%;
  margin-left: 20px;
}

#filters {
  border: 1px solid grey;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}

#update {
  width: 80px;
  height: 30px;
  background-color: #555afcd8;
  border: none;
  color: white;
  font-size: 1em;
}